# Dependencies

node_modules/


# Environment Variables (CRITICAL)

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# OS Files

.DS_Store
Thumbs.db

# IDEs

.idea/
.vscode/
*.swp
*.swo

# NestJS (Backend)

backend/dist/
backend/coverage/

# Next.js (Frontend)

frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel/

# Docker
# Если ты мапишь volumes в локальные папки (у нас в docker-compose volumes именованные, так что это перестраховка)

pg_data/
redis_data/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Documentation
docs/auth-migration-strategy.md